@charset "utf-8";

#wrapper {padding-top:5%}
#container_title span {display:none}

/*sub_title*/
.sub_back {position:relative; width:100%; height:230px; background:url("img/sub-title.jpg") no-repeat center ; background-size: cover;  color:#fff}
.sub_txt {text-align: center;position: absolute; left:50%; top:41%; transform: translate(-50%); color:#fff}
.sub_txt h2 {font-size:2.4rem; text-shadow: 1px 1px 1px #333; line-height:2.7rem}
.sub_txt p {font-size:1.6rem; text-shadow: 1px 1px 1px #333;}

/*ng_wr*/
.ng_wr {position: relative; max-width:1280px; margin:0 auto}

.lnb_wr {float:left; width:20%;}

.lnb_tit {position:relative; width:230px; height:105px; display: table-cell; vertical-align: middle; background-image: url(../../board/member/img/lnb-title.jpg); background-size:cover;}
.lnb_tit h2 {font-size:2.1rem; color:#fff; text-align: center;}
.lng_sub {position:relative; width:230px}
.lng_sub ul li a {font-size:1.6rem; letter-spacing: -0.8px;padding-left:20px; display:block; padding-top:15px; padding-bottom:15px; padding-right:10px; border-bottom:1px solid #ccc;}
.lng_sub ul li:nth-child(2) a {background-color:#eee; background-image: url(../../board/member/img/lnb_arrow.gif); background-repeat: no-repeat; background-position:right center; }

.ng_ctn {position:relative; float:right; width:80%;margin: 2% 0;}
.ng_ti {width:100%; border-bottom:1px solid #ccc; line-height:4rem; margin-top:35px; overflow:hidden;padding-bottom: 10px;}
.ng_ti h2 { font-size:2.8rem; font-weight:500; float:left; color: #333;}
.ng_ctn p.sub_ti {position: absolute; right:0; top:50px;font-size: 1.5rem;}
.ng_history h3 {font-size:2.3rem} 
.ng_history ul {display:table; margin-top:30px}
.ng_history ul li {border-bottom:1px solid #eee; padding:10px 0}
.ng_history ul li span {display: table-cell; font-size:1.8rem; line-height:2.8rem; color:#333;}
.ng_history ul li span:first-child {width:150px; color:#2f3e89; font-weight:bold}
.ng_history .mb_120 {margin-bottom:20px}

.pc{display: block;}
.mobile{display: none;}
@media screen and (max-width: 768px) {
    .pc{display: none;}
    .mobile{display: block;}
    .ng_ctn{width: 92%;margin: 0 auto;float: none;}
    .ng_ti h2{font-size: 1.9rem;}
    .ng_ctn p.sub_ti {top: 5px;color: #777;font-size: 1.1rem;}
    .sub_txt {width: 100%;}
    .sub_back {margin-top: 13%;}

    .ng_wr {margin: 10% auto;}
    .ng_history ul{width: 100%;}
    .ng_history ul li span{font-size: 1.4rem;line-height: 2.1rem;}
    .ng_history ul li span:first-child{width: 110px;}
    .ng_history .mb_120{margin-bottom: 0;}
}